
/*  Universal  */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Titillium Web";
}

a,
ul {
    text-decoration: none;
}

.container {
    display: grid;
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('pictures/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    grid-template-columns: repeat(12, 6rem);
    grid-template-rows: repeat(22, 6rem);
    grid-gap: 0.5rem;
}

/*  Header Section  */

header {
    display: block;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 80px;
}

.inner-header {
    display: block;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}

.logo-container h1 {
    display: table-cell;
    vertical-align: middle;
    color: white;
    height: 100%;
    
}

.header-nav {
    float: right;
    height: 100%;
}

.header-nav a {
    display: table;
    color: white;
    height: 100%;
    float: left;
    padding: 0;
    margin-left: 12px;
}

.header-nav li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.header-nav a:last-child {
    padding-right: 6px;
}

header a:hover {
    color: red;
    font-size: 1.1em;
}

/*  Banner Section */

.banner {
    grid-area: 2/1/6/12;
    background-color: rgba(255, 255, 255, 0.20);
}

.banner-title {
    grid-area: 3/2/5/12;
    font-size: 64px;
    margin: auto 0;
}

/*  About Me  */

.about-me {
    grid-area: 6/1/10/12;
    background-color: rgba(250, 250, 250, 0.20);
}

.about-me-img {
  grid-area: 6/1/10/5;
  background-color: white;
  border: 2px solid red;  
  border-radius: 50%;
  margin: 2rem;
}

.about-me-title {
    grid-area: 8/4/9/8;
    margin: auto 0;
    font-size: 32px;
}

.about-me-paragraph {
    grid-area: 6/8/10/12;
    margin: auto 2rem auto 0;
    border: 2px solid red;
}



/*  Skills */

.skills-title {
    grid-area: 10/5/11/8;
    margin: 0 auto;
    z-index: 2;
}

.skills-box {
    grid-area: 10/1/12/12;
    background-color: rgba(250, 250, 250, 0.20);
}

.skills {
    grid-area: 10/1/12/12;
    background-color: red;
    margin: auto;
}

.skills li {
    display: inline-flex;
    margin: 0 6rem;
}



/*  My Projects  */

.projects-title {
    grid-area: 12/5/13/8;
    margin: 0 auto;
    z-index: 2;
}

.my-projects {
    grid-area: 12/1/17/12;
    background-color: rgba(250, 250, 250, 0.20);
}

.box1 {
    grid-area: 13/2/16/5;
    border: 2px solid red;
}

.box2 {
    grid-area: 13/5/16/8;
    border: 2px solid red;
}

.box3 {
    grid-area: 13/8/16/11;
    border: 2px solid red;
}

/*  Contact Me  */

.contact-me {
    grid-area: 17/1/21/12;
    background-color: rgba(250, 250, 250, 0.20);
}

footer {
    grid-area: 21/1/22/12;
    background-color: rgba(250, 250, 250, 0.20)
}











