
/*  Universal  */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Titillium Web";
}

a,
ul {
    text-decoration: none;
}

body {
    background: linear-gradient(rgba(255, 255, 255,0.75), rgba(255, 255, 255, 0.75)), url('pictures/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.container {
    
}

/*  Header Section  */

header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 40px;
    background-color: #3B5998;
    transition: 0.3s;
}

.inner-header {
    display: block;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

.logo-container {
    display: inline-flex;
}

.logo-container img {
    display: table-cell;
    vertical-align: bottom;
    height: 40px;
}

.logo-container h2 { 
    color: white;
    height: 100%;
}

.header-nav {
    float: right;
    height: 100%;
}

.header-nav a {
    display: table;
    color: #46484A;
    height: 100%;
    float: left;
    padding: 0;
    margin-left: 12px;
}

.header-nav li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.header-nav a:last-child {
    padding-right: 6px;
}

header a:hover {
    color: red;
    font-size: 1.5em;
}

/*  Banner Section */

.banner-box {
    grid-column: 1/-1;
    height: 80vh;
    margin-top: 40px;
    background-color:#3B5998;
}

.banner-title {
    font-size: 6rem;
    line-height: 100%;
    color: white;
}

/*  About Me  */

.about-me-box1 {
    grid-column: 1/6;
    height: 450px;
    margin: 250px 0;
    align-items: center;
}

.about-me-img {
  width: 450px;
  height: 450px;
  background-color: white;
  border: 2px solid #CCCCCC;  
  border-radius: 50%;
  margin-left: 2rem;
}

.about-me-title {
    position: relative;
    top: -120px;
    left: 200px;
    color: #46484A;
    margin: auto 0;
    font-size: 32px;
}

.about-me-paragraph {
    grid-column: 7/12;
    display: flex;
    align-items: center;
    margin: 250px 0;
}

.about-me-paragraph p {
    height: 50%;
    border: 2px solid #CCCCCC;
}


/*  Skills */

.skills-title {
    grid-column: 1/-1;
    margin: 0 auto;
    z-index: 2;
    font-size: 40px;
}


.skills {
    grid-column: 2/12;
    height: 30vh;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    margin: 60px auto;
}

.skills li {
    display: flex;
    flex-direction: column;
    display: inline-flex;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.skills img {
    height: 200px;
    width: 200px;
}



/*  My Projects  */

.projects-title {
    grid-column: 1/-1;
    font-size: 40px;
    margin: 40px auto;
    z-index: 2;
}

.projects-box {
    grid-column: 1/-1;
    height: 50vh;
    display: inline-flex;
    justify-content: space-around;
}

.individual-project-box {
    display: flex;
    align-items: end;
    background-color:lightgray;
    height: 400px;
    width: 25vw;
    border: 2px solid red;
}

.bottom-half-box {
    background-color: white;
    width: 100%;
    height: 50%;  
    border-top: 4px solid red;
}

.icon-box {
    position: relative;
    top: -40px;
    left: 36%;
    background-color: red;
    border-radius: 50%;
    z-index: 100;
    height: 80px;
    width: 80px;
}

.project-img {
    height: 80%;
    margin-left: 8px;
    margin-top: 4px;
}

/*  Contact Form  */

form {
    grid-column: 7/-1;
    margin: 50px auto;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
}

input {
    height: 45px;
}

form .submit {
    background-color: red;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover {
    background-color: white;
    border: 2px solid red;
    color: red;
    cursor: pointer;
    transition: .18s ease-in-out;
}

/*  Footer Section  */

footer {
    grid-column: 1/12;
    background-color: rgba(250, 250, 250, 0.20);
    font-size: 12px;
}











